@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	font-size: 14px;
	font-family: 'Helvetica', Arial,  sans-serif;
}

a {
	color: #18559D;
}

a:hover {
	color: #4376B2;
}

a:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0 0 1em;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
	  margin: 0.5em 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h3.block-title {
	font-weight: bold;
	margin: 0.3em 0 1em;
}

h3.pane-title {
	margin: 0 0 3px;
}

td, th {
padding: 5px;
}

input[type=submit] {
	background: #18559D;
	color: #fff;
	padding: 7px 14px;
	font-weight: bold;
	border: 0;
	border-radius: 3px;
	font-size: 16px;
	margin-right: 6px;
}

input[type=submit]:hover {
	background: #4376B2;
}

.messages {
	border-radius: 3px;
}

header {
	background: #18559D;
}
header a {
	color: #fff;
}
header a:hover {
	color: #ccc ;
}

header h1, header h2, header h3, header ul, header li, header .form-item, header ul {
	margin: 0;
	padding: 0;
}

header li.leaf {
	list-style: none;
}

header select {
	background: transparent;
	border-radius: 12px;
	color: #fff;
	border: 1px solid #697ABE;
}

header select:focus, header input:focus{
    outline: 0;
}

header input:focus {
	background: #efefef;
}

.ui-widget {
	font-family: inherit;
}

#mobile-header {
	display: none;
}

.page_top {
	background: #042A57;
	border-bottom:  1px solid #042A57;
	margin-bottom: 4px;
	line-height: 40px;
	font-size: 13px;
}

.page_top h3.block-title {
	display: none;
}

.page_top li {
	display: inline;
}

.page_top .region-page-top-left {
	float: left;
}

.page_top .region-page-top-left .block {
	float: left;
	margin-right: 22px;
}

.page_top .region-page-top-right {
	float: right;
}

.page_top a.language-link {
	color: #fff;
}

.page_top .menu li {
	margin-left: 8px;
}

.header-main {
	height: 50px;
}

.logo img {
margin-top: 10px;
	max-height: 50px;
}

.header_center {
	text-align: center;
	margin-top: 10px;
}

.header_right .block {
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}

.header_right .block .menu {
	font-size: 13px;
}

.header_right .block .menu  li {
	float: left;
	line-height: 40px;
	margin-right: 20px;
}


/* Serach form*/

#block-search-form label { display:none; }
#block-search-form .form-text { font-size: 13px; margin:0; padding: 6px 7px 6px 40px;  border:none; border-radius: 5px; width:  220px;
background: #fff url(../images/search-16.png) 7px 7px no-repeat;
-webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
-moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
-o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#block-search-form .form-text:focus {
	width: 100%;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#block-search-form .form-submit { 
	position:relative; 
	left: -65px;
	display: none;
}
#block-search-form .form-item, #block-search-form .form-actions { margin:0;}

/* Cart in header */

#block-views-shopping-cart-block p {
	margin: 0;
}

#block-views-shopping-cart-block .view-shopping-cart .line-item-summary, #block-views-shopping-cart-block .view-empty {
	margin: 0;
	background: #1A4F8E url(../images/cart.png) 8px 4px no-repeat;
	height: 36px;
	border: 1px solid #5283BC;
	border-radius: 2px;
	color: #eee;
	height: 36px;
	position: relative;
	width: 110px;
	padding: 8px 8px 8px 40px;
}


#block-views-shopping-cart-block .line-item-total-label {
	display: none;
}

/*Ajax cart*/

#commerce-ajax-cart-preview {
	background: #fff;
	color: #333;
	width:  300px;
	box-shadow: none;
	border: 1px solid #042A57;
	border-radius: 3px;
	z-index: 999;
}

#commerce-ajax-cart-preview a {
	color: #000;
}

#commerce-ajax-cart-preview table {
	width:  100%;
}

#commerce-ajax-cart-preview .line-item-summary {
	margin: 0;
}

#commerce-ajax-cart-preview .line-item-total-raw {
	font-weight: bold;
}

#commerce-ajax-cart-preview ul.links.inline {
	margin-top: 12px;
	display: block
}

#commerce-ajax-cart-preview ul.links.inline li {
	list-style: none;
	padding-left: 14px;
	display: inline;
}

#commerce-ajax-cart-preview .line-item-summary-checkout a {
	background: #18559D;
	color: #fff;
	padding: 3px 6px;
	border-radius: 2px;
	text-decoration: none;
}

#commerce-ajax-cart-preview .line-item-summary-checkout a:hover {
	background: #4376B2;
}

/*Main menu*/
.main_menu {
	font-size: 14px;
	font-weight: bold;
	border-top:  1px solid #5283BC;
	padding: 0;
}

.main_menu li {
	display: block;
	float: left;
}

.main_menu a {
	float: left;
	padding: 14px 16px ;
}

.main_menu a:hover {
	text-decoration: none;
}

.main_menu li:hover, .main_menu li a.active {
	background: #fefefe;
}

.main_menu li:hover a, .main_menu li a.active {
	color: #111;
}

.main_menu li:hover ul a {
	border: none;
}

.main_menu li:hover ul a:hover {
	color: #666;
}

.main_menu li .sub-menu.active {
	background: #fefefe;
	padding: 10px 10px;
	width: 400px;
	margin-top: 48px; 
	margin-left: -1px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.main_menu li .sub-menu li {
	width: 50%;
	padding:0;
	font-weight: normal;
 }

.main_menu li .sub-menu a {
	color: #000;
	padding: 6px 10px;
}


#breadcrumb {
	background: #eee;
}

.breadcrumb {
	padding: 6px 0;
	font-size: 12px;
	color: #666;
}
.breadcrumb a {
	color: #666;
}

/*Home page*/

.front h1.title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 0.8em 0 1.6em;
}

/*catalog*/

.main-container {
	margin-top: 5px;
	min-height: 600px;
}

.views-responsive-grid .views-row {
	float: left;
	width: 100%;
}

.product-grid-large .views-column {
margin-bottom: 40px;
}

.product-grid-large .views-row .views-field-title {
	font-weight: bold;
	margin: 4px 0;
}

.product-grid-large .views-row .views-field-field-images {
	vertical-align: bottom;
	display: table-cell;
}

.product-grid-large .views-row .field-name-commerce-price {
	font-size: 16px;}

/* Product grid with descrption and small image */

.product-grid .views-field-field-images{
	float: left;
	margin-right: 10px;
	margin-bottom: 40px;
}

.product-grid .views-field-title {
	font-weight: bold;
}

.product-grid .views-field-body {
	font-size: 13px;
	color: #333;
}

.product-grid .views-field-body p {
	margin: 0;
}

.product-grid .views-field-body ul {
	margin: 3px 0 0;
}

.product-grid .views-field-body li {
	list-style: none;
	margin-bottom: 3px;
}

.product-grid .views-field-commerce-price {
	font-weight: bold;
	font-size: 18px;
	margin-top: 4px;
}

/*Exposed Form*/

aside .views-exposed-form {
width: 100%;
padding: 0 15px;
box-sizing: content-box;
margin-left: -15px;
}

aside .views-exposed-form .views-exposed-widget{
	clear: both;
	width: 100%;	
	  border-bottom: 1px solid #aaa;
	  padding: 10px 0 10px;
  }

aside .views-exposed-form .views-exposed-widget.views-submit-button {
	padding: 0;
	border: none;
}

/*.region-left .views-exposed-form .views-exposed-widget.views-submit-button {
	width: 100%;
}*/

.views-exposed-form label {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 4px;
}

.views-exposed-form .form-item {
	margin-bottom: 2px;
}

.views-exposed-form label.option {
	font-weight: normal;
	font-size: 13px;
	padding: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1em;
}

.views-exposed-widget .form-submit {
	width:100%;
}

/*Product page*/

.product_page .node .flexslider {
	margin: 0 ;
}

.product_page .node .flexslider .slides {
	float: right;
	width: 80%;
}

.product_page .node .flexslider .flex-control-nav {
	float: left;
	width: 20%;
}

.product_page .node .flexslider .flex-control-nav li {
	width:  98%;
	margin-bottom: 5px;
}

.product_page #tabs-0-detalis {
	background: #e8ebef;
    padding: 1em;
    margin: 3em 0;
    border-radius: 0;
}

.product_page .node .field-name-commerce-price {
	font-size: 24px;
}

.product_page .node .commerce-add-to-cart {
	margin-top: 8px;
}

.product_page .node .form-item-quantity {
	float: left;
	margin: 0;
	padding-right: 10px;
}

.product_page .node .commerce-add-to-cart input[type=submit].form-submit {
  background: #18559D;
  color: #fff;
  padding: 12px 74px;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  margin: 0;
}

.product_page .node .links {
	margin: 0;
	padding: 5px 0;
}

.product_page .node .links li {
	display: inline;
	list-style: none;
	margin-right: 15px;
}

.product_page .node .field-name-body {
	padding: 10px 0;
	font-size: 14px;
}

.product_page .field-name-body p {
	margin-bottom: 3px;
}

.product_page .field-name-body ul {
	margin: 0 0 0 15px;
	padding: 0;
}

.product_page .field-name-body ul li {
	margin-bottom: 3px;
}

.pane-views-recently-viewed-block {
	min-height: 300px;
}

.pane-views-recently-viewed-block .pane-title {
	text-align: center;
}

.pane-node-field-images .flexslider {
	background: transparent;
	box-shadow: none;
	border: none;
}

.pane-node-field-images .flexslider .flex-control-thumbs {
	margin-top: 20px;
}

.pane-node-field-images .flexslider .flex-control-thumbs li {
	margin: 22%;
	margin: 1%;
	padding: 2px;
	border: 1px solid #eee;
}

.pane-node-field-images .flexslider .flex-control-thumbs li:hover {
	border-color: #aaa ;
}

.ui-tabs .views-field-field-images {
  background: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.panels-bootstrap-row {
	margin-bottom: 30px;
}

/*Comments*/

.commenter-name {
	font-weight: bold;
	font-size: 16px;
}

.comment-body p {
	margin-bottom: 5px;
}

.comment-info {
	color: #555;
	font-size: 13px;
}

.comment-info .links.inline {
	  padding: 0;
	  display: inline;
	  float: right;
}

/*Flags*/

a.flag {
	padding: 5px;
}

a.flag.unflag-action {
	opacity: 0.6;
}

.flag .icon {
	top: 8px;
}


/*System Tabs*/
.tabs ul {
	padding: 5px 0;	
	float: left;
	width: 100%;
}

.tabs li {
	list-style: none;
	float: left;
}

.tabs li a {
	  padding: 5px 15px;
	  border: 1px solid #ccc;
	  margin-right: 10px;
	  border-radius: 2px;
	  background: #F4F4F4;
	  font-weight: bold;
}

.tabs li a:hover {
	text-decoration: none;
	background: #fff;
}

/*UI-Tabs*/

.ui-tabs {
	min-height: 300px;
}

.ui-widget-content, .ui-widget-header, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li {
	border:  none;
	background: none;
	padding: 0;
}

.ui-tabs ul.ui-tabs-nav {
	font-size:  18px;
	margin: 1em 0;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 1.4em;
}

.ui-tabs .ui-tabs-nav li a {
	color: #18559D;
	padding: 0.5em 0;
}
.ui-tabs-nav li.ui-tabs-active a {
	border-bottom: 3px solid #18559D;
	color: #18559D;
}

.ui-tabs-nav li a:hover {
	border-bottom: 3px solid #555;
	color: #555;
}

/*Pager*/

.item-list .pager {
	border-top: 1px solid #eee;
	padding-top: 30px;
}

.item-list .pager li {
	font-weight: bold;
	font-size: 16px;
	padding: 0;
}


.item-list .pager li a {
	padding: 5px;
	border-radius: 3px;
}

.item-list .pager li a:hover {
	background: #eee;
	text-decoration: none;
}

/*Cart page*/

.view-commerce-cart-form table {
	width: 100%;
}


/*#block-commerce-checkout-progress-indication {
	margin-bottom: 1em;
}

#block-commerce-checkout-progress-indication ul {
	margin: 0;
	padding: 0;
}

#block-commerce-checkout-progress-indication li {
	margin:0;
	padding: 8px 16px;
	width: 180px;
	display: block;
	float: left;
	border-bottom: 1px solid #ccc;
}

#block-commerce-checkout-progress-indication li.active {
	border-bottom: 1px solid #444;
}*/


#block-commerce-checkout-progress-indication {
  margin-bottom: 20px;
}
#block-commerce-checkout-progress-indication ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
#block-commerce-checkout-progress-indication ul li {
  list-style-type: none;
  float: left;
  color: #FFF;
  width: 25%;
  position: relative;
  background-color: #EDEDED;
  padding: 5px 0 5px 32px;
  text-align: center;
  margin: 0;
}
#block-commerce-checkout-progress-indication ul li:first-child {
  width: 23%;
  padding-left: 12px;
}
#block-commerce-checkout-progress-indication ul li:last-child {
  width: 27%;
}
#block-commerce-checkout-progress-indication ul li:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 100%;
  z-index: 1;
  border-color: transparent transparent transparent #FFF;
  border-width: 30px 0 30px 30px;
  border-style: solid;
}
#block-commerce-checkout-progress-indication ul li:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 100%;
  z-index: 2;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #EDEDED;
  border-style: solid;
}
#block-commerce-checkout-progress-indication ul li span, #block-commerce-checkout-progress-indication ul li a {
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
}
#block-commerce-checkout-progress-indication ul li.active {
  background-color: #A6A6A6;
}
#block-commerce-checkout-progress-indication ul li.active:after {
  border-left-color: #A6A6A6;
}

table.checkout-review {
	border: 1px solid #ccc;
	margin-top: 1em;
}

fieldset {
	border: 1px solid #eee;
	padding: 10px;
	margin: 20px 0;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #999;
}

.form-item label {
	margin-bottom: 10px;
}

/*Footer*/

footer {
	background: #f0f0f0;
	margin-top: 40px;
}

footer a:hover {
	text-decoration: none;
}

footer .container{
	padding: 20px 0;
}

footer h3.block-title {
	margin: 0;
	font-size: 16px;
}

footer p {
	margin: 0;
}

footer .menu {
	padding: 6px 0 0;
	margin: 0;
}

footer .menu li {
	list-style: none;
	margin-bottom: 6px;
}

.footer-end {
	background: #ddd;
}

.footer-end .container {
	padding: 10px 0;
}

/*Social links*/

#block-menu-menu-social-links li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}

#block-menu-menu-social-links li a {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
width: 32px;
height: 32px;
padding: 0;
background-size: cover; 
display: inline-block;
}

#block-menu-menu-social-links li a:hover {
	opacity: 0.6;
}
 

/*Flexslider*/

.flexslider {
	box-shadow: none;
	border-radius: none;
	border: none;
}

/*Blog*/

.blog-grid .views-field-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.views-field-created {
	color: #666;
}


/*Left column*/

.left {
	;
	border-radius: 3px;
	border: 1px solid #e0e3e6;
	background-color: #eff1f3;
}

.left .menu {
	padding: 0;
}

.left .menu li {
	list-style: none;
	margin-bottom: 0.5em;
}

/*Need Help Block*/

#block-block-2 {
	background: #f7f8f9;
	border: 1px solid #ebedef;
	padding: 0 20px 10px 20px;
	letter-spacing: .25px;
}
  
 

/*Mobile header*/

	#mobile-header {
		background: #000;
		color: #fff;
		width: 100%;
		float:left;
		padding: 10px 0;
		  position: absolute;
		  top: 0px;
	}
	
	
	
	#mobile-icons {
		padding:0;
		margin:0;		
	}
	
	#mobile-icons li {
		list-style: none;
		float:left;
		width: 20%;
		padding:0;
		margin:0;
	}
	
	#mobile-header .icon {
		display: block;
		width: 24px;
		height: 24px;
		margin: 4px auto;
	}
	
	.cart-icon {
		background: url(../images/cart.png) center center no-repeat;
	}
	
	.menu-toggle {
	  background: url(../images/nav-24.png) center center no-repeat;
	  width:  24px;
	  height: 24px;
}
	                                    
	
	#mobile-icons li.mobile-logo {
		width: 60%;
		text-align: center;
	}
	
	.mobile-logo img {
		height: 32px;
	}

@media (max-width:768px){
	
	body {
		padding-top: 40px;
	}

	header .header-main {
		display:none;
	}
	
	.page_top {
		display: none;
	}
	
	.main_menu .menu-toggle {
	  display: block;
	  position: absolute;
	  top: 0px;
	  right: 5px;
	    padding: 30px 25px 20px 30px;
	}
	
	.responsive-menu {
		margin-top: 10px;
	}
	
	.main_menu .container {
		padding: 0;
	}
	
	.main_menu .responsive-menu a {
		display: block;
		width: 100%;
	}
	
	.main_menu .responsive-menu .sub-menu {
		padding: 10px 10px;
		display: none;
	}
	
	.main_menu .responsive-menu li {
		display: block;
		width: 100%;
	}
	
	.main_menu .responsive-menu li .sub-menu.active {
		width: 100%;
		margin-top: 0px;
		display: block;
	}
	
	.menu-toggle .line, .menu-toggle .toggle-help {
		display: none;
	}
	
	#mobile-header {
		display: block;
	}
	
	#breadcrumb {
		display: none;
	}
		 
}