
/*System Tabs*/
.tabs ul {
	padding: 5px 0;	
	float: left;
	width: 100%;
}

.tabs li {
	list-style: none;
	float: left;
}

.tabs li a {
	  padding: 5px 15px;
	  border: 1px solid #ccc;
	  margin-right: 10px;
	  border-radius: 2px;
	  background: #F4F4F4;
	  font-weight: bold;
}

.tabs li a:hover {
	text-decoration: none;
	background: #fff;
}

/*UI-Tabs*/

.ui-tabs {
	min-height: 300px;
}

.ui-widget-content, .ui-widget-header, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li {
	border:  none;
	background: none;
	padding: 0;
}

.ui-tabs ul.ui-tabs-nav {
	font-size:  18px;
	margin-top: 18px;
}

.ui-tabs-nav li.ui-tabs-active a {
	border-bottom: 1px solid #666;
}

.ui-tabs-nav li a:hover {
	border-bottom: 1px solid #555;
}



/*Cart page*/

.fullpage-cart {
	font-size: 14px;
}

.fullpage-cart th {
	border-bottom: 1px solid #ccc;
}

.fullpage-cart th, .fullpage-cart td {
	padding: 15px;
}

.fullpage-cart tr.even, .fullpage-cart tr.odd {
	background: transparent;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
}

.fullpage-cart td.price {
	font-size: 16px;
}

.fullpage-cart .line-item-total {
  font-size: 22px;
 margin: 40px 0;
}
  


/*4 column responsive grid*/


.views-responsive-grid .views-row {
	float: left;
	width: 100%;
}

.views-responsive-grid .views-column {
	float: left;
	margin-right: 2%;
}

.views-columns-2.views-responsive-grid .views-column {
width: 49%;
}

.views-columns-3.views-responsive-grid .views-column {
width: 32%;
}

.views-columns-4.views-responsive-grid .views-column {
width: 23%;
}

.views-columns-5.views-responsive-grid .views-column {
width: 18%;
}

.views-columns-6.views-responsive-grid .views-column {
width: 15%;
}

.views-responsive-grid .views-column.views-column-last {
	margin-right: 0;
}

@media (max-width:458px){
	.views-responsive-grid .views-column {
		width: 100% !important;
		margin: 0;
	}
}