@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
	color: #000;
	background-color: #f6f6f9;
	font: 16px 'Arimo', sans-serif;
}

a {
	color: #777;
}

a:hover {
	color: #000;
	text-decoration: none;
}


a:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

td, th {
padding: 5px;
}

input[type=submit] {
	background: #fff;
	color: #000;
	padding: 12px 16px;
	font-weight: normal;
	border: 1px solid #979797;
	font-size: 20px;
	margin-right: 6px;	
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: background-color 10ms linear;
	    -moz-transition: background-color 10ms linear;
	    -o-transition: background-color 10ms linear;
	    -ms-transition: background-color 10ms linear;
	    transition: background-color 10ms linear;
}

input[type=submit]:hover {
	background: #222;
	color: #fff;
	border-color: #222;
	text-decoration: none;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset legend {
border-top: none;
padding-top: 8px;
font-size: 20px;
font-weight: normal;
color: #222;}

fieldset#edit-buttons {
	padding: 10px;
}

.messages {
	border-radius: 3px;
}
/*Header*/

.container-fluid {
	max-width: 90%;
}

header h1, header h2, header h3, header ul, header li, header .form-item, header ul {
	margin: 0;
	padding: 0;
}

header li.leaf {
	list-style: none;
}

header select {
	background: transparent;
	border-radius: 12px;
	color: #fff;
	border: 1px solid #697ABE;
}

header select:focus, header input:focus{
    outline: 0;
}

header input:focus {
	background: #efefef;
}

.header-main .logo{
	margin-top: 40px;
} 

.ui-widget {
	font-family: inherit;
}


.header-main .block{
	margin-top: 10px;
	font-size: 13px;	
	margin-left: 10px;
	float: right;
} 

.header-main li {
	float: left;
}

/*Header block */

.header-block {
	background: #d8d8d8;
	padding: 10px;
	margin: 30px 0 10px;
	float: right;
	width:  90%;
}


.header-block .menu {
font-size: 14px;
    margin-left: 10px;
}

.header-block .block {
	float: left;
	padding: 0;
	margin: 0;
	line-height: 30px;
}

.header-block .block#block-views-shopping-cart-block {
	float: right;
}

.header-block  li {
	margin-right: 15px;
}

/*Main menu*/
.main_menu {
	font-size: 16px;
	padding: 0;
	margin-bottom: 1em;
}

.main_menu ul.menu li {
	display: block;
	float: left;
	margin: 0 30px 0 0;
}

.main_menu ul.menu a.active {
	color: #000;
}

/* Serach form*/

#block-search-form label { display:none; }
#block-search-form .form-text { font-size: 13px; margin:0; padding: 6px 7px 6px 40px;  border:none; border-radius: 5px; width:  220px;
background: #fff url(../images/search-16.png) 7px 7px no-repeat;
-webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
-moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
-o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#block-search-form .form-text:focus {
	width: 100%;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#block-search-form .form-submit { 
	position:relative; 
	left: -65px;
	display: none;
}
#block-search-form .form-item, #block-search-form .form-actions { margin:0;}

/* Cart in header */

#block-views-shopping-cart-block p {
	margin: 0;
}

#block-views-shopping-cart-block .view-shopping-cart .line-item-summary {
	margin: 0;
	background:url(../images/cart.png) 8px 4px no-repeat;
	position: relative;
	  width: 32px;
 height: 32px;
     padding-left: 28px;
     padding-right: 13px;
}

#block-views-shopping-cart-block .line-item-summary .line-item-quantity {
	float: none;
	font-size: 16px;
	line-height: 16px;
	font-weight:  bold;
}

#block-views-shopping-cart-block .line-item-quantity-label {
	display: none;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-quantity-raw  {
	padding: 2px;
	    color: #fff;
		background-color: #911616;
	}

/*Ajax cart*/

#commerce-ajax-cart-preview {
	background: #fff;
	color: #333;
	width:  300px;
	box-shadow: none;
	border: 1px solid #333;
	border-radius: 0px;
}

#commerce-ajax-cart-preview a {
	color: #000;
}

#commerce-ajax-cart-preview table {
	width:  100%;
}

#commerce-ajax-cart-preview ul.links.inline {
	margin-top: 8px;
	display: block;
	line-height: 30px;
}

#commerce-ajax-cart-preview .line-item-summary-checkout a {
	background: #fff;
	color: #000;
	padding: 0px 10px;
	font-weight: normal;
	border: 1px solid #979797;
	font-size: 13px;
	line-height: 28px;
	float: right;	
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: background-color 10ms linear;
	    -moz-transition: background-color 10ms linear;
	    -o-transition: background-color 10ms linear;
	    -ms-transition: background-color 10ms linear;
	    transition: background-color 10ms linear;
}

#commerce-ajax-cart-preview .line-item-summary-checkout a:hover {
		background: #222;
		color: #fff;
		border-color: #222;
		text-decoration: none;
}


/*Main Content*/


/*Pager*/

.item-list .pager {
	border-top: 1px solid #eee;
	padding-top: 40px;
}

.item-list .pager li {
	font-weight: bold;
	font-size: 16px;
	padding: 0;
	line-height: 60px;
	margin: 0 10px;	
}

.item-list .pager li a {
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 60px;
	display: inline-block;
}

.item-list .pager li a:hover {
	background: #eee;
	text-decoration: none;
}

/*Catalog*/

.main-container {
	margin-top: 5px;
}

.product-grid-large .views-column {
margin-bottom: 40px;
}

.product-grid-large .views-field-field-images {
	margin-bottom: 15px;
}

.product-grid-large .views-column .views-field-title, .catalog-item .views-field-field-brand {
	font-size: 16px;
	width:  70%;
	float:left;
}

.product-grid-large .views-column .views-field-field-images img, .catalog-item .views-field-field-image img {
	height: auto;
	width: 100%;
	margin-bottom: 6px;
}

.product-grid-large .views-column .views-field-field-products {
	float: right;
	width:  30%;
	text-align: right;
}

.product-grid-large .views-column .field-name-commerce-price {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.product-grid-large .views-column .field-name-commerce-price .field-content {
	margin-right: 10px;
}

/* Product grid with descrption and small image */

.product-grid .views-field-field-images{
	float: left;
	margin-right: 10px;
	margin-bottom: 40px;
}

.product-grid .views-field-title {
	font-weight: bold;
}

.product-grid .views-field-body {
	font-size: 13px;
	color: #333;
}

.product-grid .views-field-body p {
	margin: 0;
}

.product-grid .price {
	font-weight: bold;
	font-size: 20px;
}

/*Exposed Form*/

aside.left {
	background: #eee;
	border-radius: 3px;
}

aside .views-exposed-form .views-exposed-widget{
	clear: both;
	width: 100%;	
}

aside .views-exposed-form .views-exposed-widget.views-submit-button {
	padding: 0;
}

/*.region-left .views-exposed-form .views-exposed-widget.views-submit-button {
	width: 100%;
}*/

.views-exposed-form label.option {
	font-weight: normal;
}

.views-exposed-widget .form-submit {
	width:100%;
}

/*Product page*/

.product-title h2 {
	margin:0;
	font-size: 36px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
}

.product-title h2 .product-name {
	display: block;
}

.product-title h2 div {
	display: inline;
}

.product-images .field-item {
	margin-bottom: 1em;
}

.product-images .field-name-body {
	margin-left: 10%;
}

.field-commerce-price {
	margin: 1em 0;
	font-size: 36px;
}

.commerce-add-to-cart {
	margin-bottom: 20px;
}

.flag-outer-add-to-wishlist {
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
}

/*Tabs*/

.ui-tabs {
	min-height: 300px;
}

.ui-widget-content, .ui-widget-header, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li {
	border:  none;
	background: none;
	padding: 0;
}

.ui-tabs ul.ui-tabs-nav {
	font-size:  18px;
	margin-top: 18px;
}

.ui-tabs-nav li.ui-tabs-active a {
	border-bottom: 1px solid #666;
}

.ui-tabs-nav li a:hover {
	border-bottom: 1px solid #555;
}

/*Cart page*/

.view-commerce-cart-form table {
	width: 100%;
}

#block-commerce-checkout-progress-indication {
	margin-bottom: 1em;
}

#block-commerce-checkout-progress-indication ul {
	margin: 0;
	padding: 0;
}

#block-commerce-checkout-progress-indication li {
	margin:0;
	padding: 8px 16px;
	width: 180px;
	display: block;
	float: left;
	border-bottom: 1px solid #ccc;
}

#block-commerce-checkout-progress-indication li.active {
	border-bottom: 1px solid #444;
}

table.checkout-review {
	border: 1px solid #ccc;
	margin-top: 1em;
}

/*Footer*/

footer {
	text-align: center;
	font-size: 13px;
	color: #555;
	margin-top: 40px;
}

footer .container{
	border-top: 1px solid #999;
	padding-top: 20px;
	margin-top: 20px;
}

footer .block {
	margin-bottom: 30px;
}

footer h2 {
	margin: 0;
	font-size: 16px;
}

footer p {
	margin: 0;
}

/*Flexslider*/

.flexslider {
	box-shadow: none;
	border-radius: none;
}

/*Flexslider Product Page*/
.node-product .flexslider {
	margin: 0 ;
	background: transparent;
	  border: none;
}

.node-product .flexslider .slides {
	float: left;
	width: 80%;
}

.node-product .flexslider .flex-control-nav {
	float: right;
	width: 19%;
}

.node-product .flexslider .flex-control-nav li {
	width:  98%;
	margin-bottom: 5px;
}

.flex-control-thumbs {
  margin: 0px 0 1% 1%;
  position: static;
  overflow: hidden;
}

/*Cart and Chekout pages*/

.page-cart .main-container, .page-checkout .main-container{
	background: #fff;
}